.loadingtext{
    font-size:50px;
    text-align:center;
}

.list{
    display:flex;
    flex-direction:row;
    justify-content:center;
}

.listitem{
    list-style: none;
    opacity: 0.5;
    margin-right:1rem;
    text-transform: uppercase;
}

.listitem:hover{
    opacity:1;
}

.link{
    text-decoration: none;
    color: darkblue;
}

.attribution{
    text-align:center;   
}

